# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# ChungusGamer666/Robert F. Joga

/code/datums/DNA.dm @ChungusGamer666
/code/modules/client/age_gate/ @ChungusGamer666
/code/modules/surgery/ @ChungusGamer666
/code/modules/holidays/ @ChungusGamer666

# Null/Lemons

/code/modules/surgery/external/genitals.dm @NullDagaf
/code/modules/reagents/ @NullDagaf
/code/modules/liquids/ @NullDagaf

# CONTRIBUTORS

# MULTIPLE OWNERS
/code/modules/client/preferences/ @NullDagaf @ChungusGamer666
