<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;movable_physics - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/movable_physics.html#var">Var Details</a> - <a href="datum/component/movable_physics.html#proc">Proc Details</a></header>
<main>
<h1>movable_physics <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/movable_physics.html">movable_physics</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 12"/></a></h1>

<p>MOVABLE PHYSICS COMPONENT - By ma44, bob joga and pyroshark (https://github.com/DaedalusDock/daedalusdock/pull/96/)</p>
<p>Essentially, this component adds a very dodgy, very barebones simulation of pixel movement and physics for the movable.
Using animate here would be very expensive, so instead this processes every 1/20 seconds and adjusts pixel_x, pixel_y and pixel_z.
Whenever the movable crosses a tile's boundary, it will attempt to move into the appropriate tile.
Collisions are accounted for, but they are very simple and tile based. No complex hitboxes or anythin'.
All of this, of course, only works while the movable is located a turf.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/angle">angle</a></th><td>The angle of the path the object takes on the x/y plane</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bounce_callback">bounce_callback</a></th><td>If we have this callback, it gets invoked when bouncing on the floor</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bounce_sound">bounce_sound</a></th><td>The sound effect to play when bouncing off of something</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bounce_spin_clockwise">bounce_spin_clockwise</a></th><td>For calling spinanimation when bouncing</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bounce_spin_loops">bounce_spin_loops</a></th><td>For calling spinanimation when bouncing</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bounce_spin_speed">bounce_spin_speed</a></th><td>For calling spinanimation when bouncing</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/bump_callback">bump_callback</a></th><td>If we have this callback, it gets invoked when bumping on another atom</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/cached_animate_movement">cached_animate_movement</a></th><td>The cached animate_movement of the parent
Any kind of gliding when doing Move() makes the physics look derpy, so we'll just make Move() be &quot;instant&quot;</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/cached_transform">cached_transform</a></th><td>Cached transform of the parent, in case some fucking idiot decides its a good idea to make the damn movable spin forever</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/horizontal_conservation_of_momentum">horizontal_conservation_of_momentum</a></th><td>Conservation of momentum for x/y plane
horizontal_velocity gets multiplied by this when bumping on a wall</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/horizontal_friction">horizontal_friction</a></th><td>The horizontal_velocity is reduced by this every process()
this doesn't take into account the object being in the air vs gravity pushing it against the ground</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/horizontal_velocity">horizontal_velocity</a></th><td>Modifies the pixel_x/pixel_y of an object every process()
Movables aren't Move()'d into another turf if pixel_z exceeds 16, so try not to supply a super high vertical value
if you don't want the movable to clip through multiple turfs (looks dumb)</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/physics_flags">physics_flags</a></th><td>Flags for turning on certain physic properties, see the top of the file for more information on flags</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/spin_clockwise">spin_clockwise</a></th><td>For calling spinanimation at the start of movement</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/spin_loops">spin_loops</a></th><td>For calling spinanimation at the start of movement</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/spin_speed">spin_speed</a></th><td>For calling spinanimation at the start of movement</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/stop_callback">stop_callback</a></th><td>If we have this callback, it gets invoked when stopping movement</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/vertical_conservation_of_momentum">vertical_conservation_of_momentum</a></th><td>Conservation of momentum for z plane
vertical_velocity gets multiplied by this when bumping on the floor</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/vertical_friction">vertical_friction</a></th><td>The vertical_velocity is reduced by this every process()</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/vertical_velocity">vertical_velocity</a></th><td>Modifies the pixel_z of an object every process()</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/visual_angle_friction">visual_angle_friction</a></th><td>Visual angle friction of the object</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/visual_angle_velocity">visual_angle_velocity</a></th><td>Visual angle velocity of the object</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#var/z_floor">z_floor</a></th><td>The pixel_z that the object will no longer be influenced by gravity for a 32x32 turf
Keep this value between -16 to 0 so it's visuals matches up with it physically being in the turf</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/has_movement">has_movement</a></th><td>Checks if we still have any movement going on</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/on_bump">on_bump</a></th><td>Basically handles bumping on a solid object and ricocheting away according to a dose of Newton's third law</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/on_item_pickup">on_item_pickup</a></th><td>Stops movement for pesky items when they get picked up, as that essentially invalidates this component</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/on_newtonian_move">on_newtonian_move</a></th><td>We do not EVER want newtonian movement while handling movement ourselves, so block it!</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/set_angle">set_angle</a></th><td>Helper to set angle, futureproofing in case new behavior like altering the transform of the movable based on angle is needed</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/start_movement">start_movement</a></th><td>Does a bunch of setup, then starts the movement sequence</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/stop_movement">stop_movement</a></th><td>Stops movement sequence, and deletes component if we have the MPHYSICS_QDEL_WHEN_NO_MOVEMENT flag</td></tr>
            <tr><th><a href="datum/component/movable_physics.html#proc/z_floor_bounce">z_floor_bounce</a></th><td>Proc for bouncing, aka object reached z_floor on pixel_z and needs a dose of Newton's third law</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/angle"><aside class="declaration">var </aside>angle
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 16"/></a></h3>
        <p>The angle of the path the object takes on the x/y plane</p><h3 id="var/bounce_callback"><aside class="declaration">var </aside>bounce_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L66">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 66"/></a></h3>
        <p>If we have this callback, it gets invoked when bouncing on the floor</p><h3 id="var/bounce_sound"><aside class="declaration">var </aside>bounce_sound
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L64">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 64"/></a></h3>
        <p>The sound effect to play when bouncing off of something</p><h3 id="var/bounce_spin_clockwise"><aside class="declaration">var </aside>bounce_spin_clockwise
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L62">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 62"/></a></h3>
        <p>For calling spinanimation when bouncing</p><h3 id="var/bounce_spin_loops"><aside class="declaration">var </aside>bounce_spin_loops
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L60">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 60"/></a></h3>
        <p>For calling spinanimation when bouncing</p><h3 id="var/bounce_spin_speed"><aside class="declaration">var </aside>bounce_spin_speed
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L58">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 58"/></a></h3>
        <p>For calling spinanimation when bouncing</p><h3 id="var/bump_callback"><aside class="declaration">var </aside>bump_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L68">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 68"/></a></h3>
        <p>If we have this callback, it gets invoked when bumping on another atom</p><h3 id="var/cached_animate_movement"><aside class="declaration">var </aside>cached_animate_movement
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L76">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 76"/></a></h3>
        <p>The cached animate_movement of the parent
Any kind of gliding when doing Move() makes the physics look derpy, so we'll just make Move() be &quot;instant&quot;</p><h3 id="var/cached_transform"><aside class="declaration">var </aside>cached_transform
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L81">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 81"/></a></h3>
        <p>Cached transform of the parent, in case some fucking idiot decides its a good idea to make the damn movable spin forever</p><h3 id="var/horizontal_conservation_of_momentum"><aside class="declaration">var </aside>horizontal_conservation_of_momentum
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L36">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 36"/></a></h3>
        <p>Conservation of momentum for x/y plane
horizontal_velocity gets multiplied by this when bumping on a wall</p><h3 id="var/horizontal_friction"><aside class="declaration">var </aside>horizontal_friction
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 29"/></a></h3>
        <p>The horizontal_velocity is reduced by this every process()
this doesn't take into account the object being in the air vs gravity pushing it against the ground</p><h3 id="var/horizontal_velocity"><aside class="declaration">var </aside>horizontal_velocity
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 22"/></a></h3>
        <p>Modifies the pixel_x/pixel_y of an object every process()
Movables aren't Move()'d into another turf if pixel_z exceeds 16, so try not to supply a super high vertical value
if you don't want the movable to clip through multiple turfs (looks dumb)</p><h3 id="var/physics_flags"><aside class="declaration">var </aside>physics_flags
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 14"/></a></h3>
        <p>Flags for turning on certain physic properties, see the top of the file for more information on flags</p><h3 id="var/spin_clockwise"><aside class="declaration">var </aside>spin_clockwise
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L56">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 56"/></a></h3>
        <p>For calling spinanimation at the start of movement</p><h3 id="var/spin_loops"><aside class="declaration">var </aside>spin_loops
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L54">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 54"/></a></h3>
        <p>For calling spinanimation at the start of movement</p><h3 id="var/spin_speed"><aside class="declaration">var </aside>spin_speed
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L52">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 52"/></a></h3>
        <p>For calling spinanimation at the start of movement</p><h3 id="var/stop_callback"><aside class="declaration">var </aside>stop_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L70">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 70"/></a></h3>
        <p>If we have this callback, it gets invoked when stopping movement</p><h3 id="var/vertical_conservation_of_momentum"><aside class="declaration">var </aside>vertical_conservation_of_momentum
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L41">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 41"/></a></h3>
        <p>Conservation of momentum for z plane
vertical_velocity gets multiplied by this when bumping on the floor</p><h3 id="var/vertical_friction"><aside class="declaration">var </aside>vertical_friction
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L31">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 31"/></a></h3>
        <p>The vertical_velocity is reduced by this every process()</p><h3 id="var/vertical_velocity"><aside class="declaration">var </aside>vertical_velocity
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 24"/></a></h3>
        <p>Modifies the pixel_z of an object every process()</p><h3 id="var/visual_angle_friction"><aside class="declaration">var </aside>visual_angle_friction
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L50">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 50"/></a></h3>
        <p>Visual angle friction of the object</p><h3 id="var/visual_angle_velocity"><aside class="declaration">var </aside>visual_angle_velocity
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L48">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 48"/></a></h3>
        <p>Visual angle velocity of the object</p><h3 id="var/z_floor"><aside class="declaration">var </aside>z_floor
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L46">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 46"/></a></h3>
        <p>The pixel_z that the object will no longer be influenced by gravity for a 32x32 turf
Keep this value between -16 to 0 so it's visuals matches up with it physically being in the turf</p><h2 id="proc">Proc Details</h2><h3 id="proc/has_movement"><aside class="declaration">proc </aside>has_movement<aside>() 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L231">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 231"/></a></aside>
        </h3>
        <p>Checks if we still have any movement going on</p><h3 id="proc/on_bump"><aside class="declaration">proc </aside>on_bump<aside>(/<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/source, /<a href="atom.html">atom</a>/bumped_atom) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L293">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 293"/></a></aside>
        </h3>
        <p>Basically handles bumping on a solid object and ricocheting away according to a dose of Newton's third law</p><h3 id="proc/on_item_pickup"><aside class="declaration">proc </aside>on_item_pickup<aside>(/<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/source) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L310">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 310"/></a></aside>
        </h3>
        <p>Stops movement for pesky items when they get picked up, as that essentially invalidates this component</p><h3 id="proc/on_newtonian_move"><aside class="declaration">proc </aside>on_newtonian_move<aside>(/<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/source, direction, start_delay) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L287">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 287"/></a></aside>
        </h3>
        <p>We do not EVER want newtonian movement while handling movement ourselves, so block it!</p><h3 id="proc/set_angle"><aside class="declaration">proc </aside>set_angle<aside>(new_angle) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L274">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 274"/></a></aside>
        </h3>
        <p>Helper to set angle, futureproofing in case new behavior like altering the transform of the movable based on angle is needed</p><h3 id="proc/start_movement"><aside class="declaration">proc </aside>start_movement<aside>() 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L242">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 242"/></a></aside>
        </h3>
        <p>Does a bunch of setup, then starts the movement sequence</p><h3 id="proc/stop_movement"><aside class="declaration">proc </aside>stop_movement<aside>() 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L258">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 258"/></a></aside>
        </h3>
        <p>Stops movement sequence, and deletes component if we have the MPHYSICS_QDEL_WHEN_NO_MOVEMENT flag</p><h3 id="proc/z_floor_bounce"><aside class="declaration">proc </aside>z_floor_bounce<aside>(/<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/moving_atom) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/movable_physics.dm#L278">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;movable_physics.dm 278"/></a></aside>
        </h3>
        <p>Proc for bouncing, aka object reached z_floor on pixel_z and needs a dose of Newton's third law</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/NovusSS13/NovusSS13/tree/60b1c08cc112487f351e809b69e38d654802ecd5">60b1c08</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
