<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;shiny - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/shiny.html#var">Var Details</a> - <a href="datum/component/shiny.html#proc">Proc Details</a></header>
<main>
<h1>shiny <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/shiny.html">shiny</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 6"/></a></h1>

<p>Shiny component</p>
<p>This component handles adding a simple reflection to a given atom.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/shiny.html#var/check_callback">check_callback</a></th><td>Optional callback so you can perform additional checks before adding the shine</td></tr>
            <tr><th><a href="datum/component/shiny.html#var/shine_displacement">shine_displacement</a></th><td>Shine displacement icon state, probably going to be &quot;flip&quot;</td></tr>
            <tr><th><a href="datum/component/shiny.html#var/shine_mask">shine_mask</a></th><td>Shine mask icon state, either &quot;full&quot; or &quot;partial&quot;</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/shiny.html#proc/on_smoothed_icon">on_smoothed_icon</a></th><td>Used to call update_overlays() when the parent atom gets smoothed</td></tr>
            <tr><th><a href="datum/component/shiny.html#proc/on_update_overlays">on_update_overlays</a></th><td>Used to maintain the shiny overlays on the parent <a href="atom.html" title="/atom">/atom</a>.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/check_callback"><aside class="declaration">var </aside>check_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 14"/></a></h3>
        <p>Optional callback so you can perform additional checks before adding the shine</p><h3 id="var/shine_displacement"><aside class="declaration">var </aside>shine_displacement
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 10"/></a></h3>
        <p>Shine displacement icon state, probably going to be &quot;flip&quot;</p><h3 id="var/shine_mask"><aside class="declaration">var </aside>shine_mask
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 8"/></a></h3>
        <p>Shine mask icon state, either &quot;full&quot; or &quot;partial&quot;</p><h2 id="proc">Proc Details</h2><h3 id="proc/on_smoothed_icon"><aside class="declaration">proc </aside>on_smoothed_icon<aside>(/<a href="atom.html">atom</a>/source) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L50">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 50"/></a></aside>
        </h3>
        <p>Used to call update_overlays() when the parent atom gets smoothed</p><h3 id="proc/on_update_overlays"><aside class="declaration">proc </aside>on_update_overlays<aside>(/<a href="atom.html">atom</a>/source, /list/overlays) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/shiny.dm#L36">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shiny.dm 36"/></a></aside>
        </h3>
        <p>Used to maintain the shiny overlays on the parent <a href="atom.html" title="/atom">/atom</a>.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/NovusSS13/NovusSS13/tree/60b1c08cc112487f351e809b69e38d654802ecd5">60b1c08</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
