<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;wet_floor - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/wet_floor.html#var">Var Details</a> - <a href="datum/component/wet_floor.html#proc">Proc Details</a></header>
<main>
<h1>wet_floor <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/wet_floor.html">wet_floor</a></aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/wet_floor.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;wet_floor.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/wet_floor.html#var/made_shiny">made_shiny</a></th><td>Tracks whether or not we created a shiny component on the parent turf, so we can delete it once we go away</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/wet_floor.html#proc/on_update_overlays">on_update_overlays</a></th><td>Used to maintain the wet floor overlay on the parent <a href="turf.html" title="/turf">/turf</a>.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/made_shiny"><aside class="declaration">var </aside>made_shiny
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/wet_floor.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;wet_floor.dm 15"/></a></h3>
        <p>Tracks whether or not we created a shiny component on the parent turf, so we can delete it once we go away</p><h2 id="proc">Proc Details</h2><h3 id="proc/on_update_overlays"><aside class="declaration">proc </aside>on_update_overlays<aside>(/<a href="atom.html">atom</a>/source, /list/overlays) 
        
    
            <a href="https://github.com/NovusSS13/NovusSS13/blob/60b1c08cc112487f351e809b69e38d654802ecd5/code/datums/components/wet_floor.dm#L61">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;wet_floor.dm 61"/></a></aside>
        </h3>
        <p>Used to maintain the wet floor overlay on the parent <a href="turf.html" title="/turf">/turf</a>.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/NovusSS13/NovusSS13/tree/60b1c08cc112487f351e809b69e38d654802ecd5">60b1c08</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
